* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3, p {
    align-items: center;
    justify-content: center;
}
.grid-container{
    display: grid;
    grid-template: auto / 1fr 60% 1fr;
    width: 100%;
    min-width: 50%;
    grid-template-areas:". header ."
    ". chat ."
    ". response-header ."
    ". response .";
}

.header {
    margin-top: 1rem;
    grid-area: header;
    justify-self: center;
}

.chat-container {
    margin-top: 1rem;
    grid-area: chat;
    justify-self: center;
}

p {
    display: grid;
}

.response-header {
    margin-top: 1rem;
    grid-area: response-header;
    justify-self: center;
}

.response {
    grid-area: response;
    justify-self: center;
    text-align: center;

}

