* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h3, p {
    align-items: center;
    justify-content: center;
}
.grid-container{
    display: grid;
    grid-template: auto / 1fr 60% 1fr;
    width: 100%;
    min-width: 50%;
    grid-template-areas:". header ."
    ". chat ."
    ". response-header ."
    ". response .";

    width: 100%;
    padding: 1rem;
    gap: 1rem;
}

.header {
    margin-top: 1rem;
    grid-area: header;
    justify-self: center;
}

.chat-container {
    margin-top: 1rem;
    grid-area: chat;
    justify-self: center;
}

p {
    display: grid;
}

.response-header {
    margin-top: 1rem;
    grid-area: response-header;
    justify-self: center;
}

.response {
    grid-area: response;
    justify-self: center;
    text-align: center;

}




/* Mobile Functionality */
@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; 
        grid-template-areas:
            "header"
            "chat"
            "response-header"
            "response";
    }

    .chat-container, .header, .response-header, .response {
        justify-self: stretch; 
        width: 100%;
    }

    textarea {
        width: 100%; 
        font-size: 1rem;
    }

    select.form-select {
        width: 100%;
    }

    button.btn {
        width: 100%;
    }
}