<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="grid-container">
        <div class="header">
            <h1>Simple ChatBot</h1>
        </div>
        <div class="chat-container">
            <form method="post">
                    <textarea name="prompt" rows="5" cols="60" placeholder="Enter your message..."></textarea>
                    <br><br>

                    <select name="model">
                        <option value="" disabled selected>Select a model</option>
                        <option value="mistral">Mistral</option>
                        <option value="openrouter">OpenRouter</option>
                    </select>

                    <br><br>
                    <button type="submit">Send</button>
                </form>

                {% if error %}
                    <p style="color:red;">{{ error }}</p>
                {% endif %}

                {% if answer %}
                    <h3>Response:</h3>
                    <pre>{{ answer }}</pre>
                {% endif %}
            </div>  
    </div>
</body>
</html>